.navbar-title {
  cursor: pointer;
  padding-right: 20px;
}
.navbar-formatting {
  display: flex;
  justify-content: space-evenly;

}

.nav-active {
  background-blend-mode: color-burn;
  border: 1px solid;
}

.gap {
  flex-grow: 1;
}
