.navbar-title {
  cursor: pointer;
  padding-right: 20px;
}

.navbar-sidenav {
  top: 0;
  left: 0;
  right: 0;
}

.navbar-formatting {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
}

.nav-active {
  background-blend-mode: color-burn;
  border: 1px solid;
}

.gap {
  flex-grow: 1;
}

div.content-container {
  display: block;
  height: calc(100vh - 65px);
  margin-left: 10px;
  margin-top: 65px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px black;
  overflow: auto;
}
